<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSA Instructor AI</title>
    <link rel="stylesheet" href="../static/style.css">

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Remix Icon cdn -->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"/>

    <!-- Marked -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <!-- Highlight.js CSS Theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">

    <!-- Highlight.js Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="../static/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../static/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../static/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="DSA AI" />
    <link rel="manifest" href="../static/favicon/site.webmanifest" />
</head>
<body class="min-h-screen w-screen flex flex-col items-center justify-center p-0 m-0">
    <div class="chat-header text-blue-600 w-full flex justify-between items-center py-4 md:px-6 px-2 fixed top-0 bg-white shadow-md">
        <div class="flex items-center">
            <a href="/"><img class="sm:size-14 rounded-full size-10" src="../static/images/logo.png" alt="logo"/></a>
            <div class="select-none">
                <h2 class="text-xl md:text-2xl md:text- font-bold leading-none">DSA instructor ai</h2>
                <p class="text-xs md:text-l">Logic is your superpower</p>
            </div>
        </div>
        <a href="https://github.com/rishabhbishtuk12" target="_blank"><img class="rounded-full sm:size-10 size-8" src="../static/images/github-logo.jpg" alt="GitHub Link" /></a>
    </div>
    <div class="chat-container w-full h-screen flex flex-col bg-gray-100 shadow-lg pt-24 ">
        <div class="flex flex-col justify-between overflow-y-auto h-full relative">
                <div id="chat-box"  class="px-5 pb-20 flex flex-col gap-4 scroll-smooth overflow-y-auto">
                    <p class="text-center p-20 font-semibold md:text-4xl sm:md:text-3xl text-base">What's the Query for today?
                    </p>
                    <span id="bottom-box" class=" fixed bottom-0 w-full size-4 bg-gray-100 text-center"> </span>
                </div>
               
<button
  id="scroll-btn"
  class="opacity-0 pointer-events-none absolute bottom-20 left-[50%] bg-blue-600 text-white px-2 py-1 rounded-full shadow-lg hover:bg-blue-700 transition-all duration-300"
>
<i class="ri-arrow-down-double-line"></i>
  </button>
      
        <!-- Scroll to bottom button -->



        <div class="chat-input fixed bottom-0 left-1/2 -translate-x-1/2 z-10 w-full md:w-1/2 p-4 flex gap-2">
  <div id="chat-input" class="relative flex items-center flex-1">
    <input
      type="text"
      id="user-input"
      placeholder="Ask anything about DSA"
      class="w-full px-4 py-3 bg-gray-300 text-gray-800 rounded-full focus:outline-none transition-all duration-300"
    />
    
      <button id="send-btn" type="button">
    </button>
  
  <button
    id="stop"
    type="button""
  >
  </button>
  </div>
</div>

    </div>
    <script src="../static/script.js"></script>
</body>
</html>